.code-block pre {
	font-family: "Lucidia Console","Monaco Regular",monospace,"Courier New";
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-smooth: antialiased;
	margin-bottom: 0;
}

.code-block {
	padding: 5px 10px 5px 10px;
	border-width: 3px;
	border-color: #A0A0A0;
	border-style: solid;
	border-radius: 8px;
	overflow: auto;
	margin-bottom: 1em;
}

.code-blocktable {
	border-width: 3px;
	border-color: #A0A0A0;
	border-style: solid;
	border-radius: 8px;
	background: #A0A0A0;
	margin-bottom: 1em;
}

.code-blocktable .code-block {
	width: 734px;
	border-width: 0px;
	border-radius: 0px;
	margin-bottom: 0px;
}

table, thead, tbody, th, td, tr {
	display: block;
	position: relative;
}

.code-blocktable .linenos {
	position: absolute;
	top: 0px;
	left: 0px;
}

.code-blocktable .code-block {
	width: calc(100% - 3ch);
	border-radius: 8px;
}

.code-blocktable .code {
	overflow: auto;
	width: 100%;
	top: 0px;
	left: 3ch;
}

@media screen and (max-width: 1020px) {
	.code-blocktable {
		width: 100%;
	}

	.code-blocktable tbody {
		width: 100%;
	}
	.code-blocktable .code pre {
		overflow: auto;
	}
}

.linenos {
	background: #A0A0A0;
	padding-top: 6px;
	border-width: 0px;
	padding-bottom: 5px;
	width: 3ch;
}

.linenos pre {
	text-align: right;
	margin-bottom: 0;
	margin-top: 0;
}
