.terminal {
	padding: 10px 10px 10px 10px;
	background-color: black;
	font-family: "Lucidia Console",monospace,"Courier New";
	border-width: 3px;
	border-color: #D0D0D0;
	border-style: solid;
	border-radius: 8px;
	margin-bottom: 1em;
}

.terminal-oneline {
	white-space: pre;
}

.terminal pre {
	color: #EC1111;
	white-space: pre-wrap;
	word-wrap: break-word;
	margin-bottom: 0;
}
