[submodule "md++/vendors/re2"]
	path = md++/vendors/re2
	url = https://github.com/google/re2.git
[submodule "md++/vendors/pygments"]
	path = md++/vendors/pygments
	url = https://github.com/pygments/pygments
