.code-block .hll { background-color: #ffffcc }
.code-block  { background: #ffffff; }
.code-block .c { color: #888888; font-style: italic } /* Comment */
.code-block .err { color: #FF0000 } /* Error */
.code-block .k { color: #0000ff } /* Keyword */
.code-block .n { color: #000000 } /* Name */
.code-block .ch { color: #888888; font-style: italic } /* Comment.Hashbang */
.code-block .cm { color: #888888; font-style: italic } /* Comment.Multiline */
.code-block .cp { color: #888888; font-style: italic } /* Comment.Preproc */
.code-block .cpf { color: #888888; font-style: italic } /* Comment.PreprocFile */
.code-block .c1 { color: #888888; font-style: italic } /* Comment.Single */
.code-block .cs { color: #888888; font-style: italic } /* Comment.Special */
.code-block .kc { color: #0000ff } /* Keyword.Constant */
.code-block .kd { color: #0000ff } /* Keyword.Declaration */
.code-block .kn { color: #0000ff } /* Keyword.Namespace */
.code-block .kp { color: #0000ff } /* Keyword.Pseudo */
.code-block .kr { color: #0000ff } /* Keyword.Reserved */
.code-block .kt { color: #0000ff } /* Keyword.Type */
.code-block .m { color: #33aaff } /* Literal.Number */
.code-block .s { color: #55aa22 } /* Literal.String */
.code-block .na { color: #000000 } /* Name.Attribute */
.code-block .nb { color: #000000 } /* Name.Builtin */
.code-block .nc { color: #000000 } /* Name.Class */
.code-block .no { color: #000000 } /* Name.Constant */
.code-block .nd { color: #000000 } /* Name.Decorator */
.code-block .ni { color: #000000 } /* Name.Entity */
.code-block .ne { color: #000000 } /* Name.Exception */
.code-block .nf { color: #000000 } /* Name.Function */
.code-block .nl { color: #000000 } /* Name.Label */
.code-block .nn { color: #000000 } /* Name.Namespace */
.code-block .nx { color: #000000 } /* Name.Other */
.code-block .py { color: #000000 } /* Name.Property */
.code-block .nt { color: #000000 } /* Name.Tag */
.code-block .nv { color: #000000 } /* Name.Variable */
.code-block .ow { color: #0000ff } /* Operator.Word */
.code-block .mb { color: #33aaff } /* Literal.Number.Bin */
.code-block .mf { color: #33aaff } /* Literal.Number.Float */
.code-block .mh { color: #33aaff } /* Literal.Number.Hex */
.code-block .mi { color: #33aaff } /* Literal.Number.Integer */
.code-block .mo { color: #33aaff } /* Literal.Number.Oct */
.code-block .sa { color: #55aa22 } /* Literal.String.Affix */
.code-block .sb { color: #55aa22 } /* Literal.String.Backtick */
.code-block .sc { color: #55aa22 } /* Literal.String.Char */
.code-block .dl { color: #55aa22 } /* Literal.String.Delimiter */
.code-block .sd { color: #55aa22 } /* Literal.String.Doc */
.code-block .s2 { color: #55aa22 } /* Literal.String.Double */
.code-block .se { color: #55aa22 } /* Literal.String.Escape */
.code-block .sh { color: #55aa22 } /* Literal.String.Heredoc */
.code-block .si { color: #55aa22 } /* Literal.String.Interpol */
.code-block .sx { color: #55aa22 } /* Literal.String.Other */
.code-block .sr { color: #55aa22 } /* Literal.String.Regex */
.code-block .s1 { color: #55aa22 } /* Literal.String.Single */
.code-block .ss { color: #55aa22 } /* Literal.String.Symbol */
.code-block .bp { color: #000000 } /* Name.Builtin.Pseudo */
.code-block .fm { color: #000000 } /* Name.Function.Magic */
.code-block .vc { color: #000000 } /* Name.Variable.Class */
.code-block .vg { color: #000000 } /* Name.Variable.Global */
.code-block .vi { color: #000000 } /* Name.Variable.Instance */
.code-block .vm { color: #000000 } /* Name.Variable.Magic */
.code-block .il { color: #33aaff } /* Literal.Number.Integer.Long */