.code-block .hll { background-color: #ffffcc }
.code-block  { background: #ffffff; }
.code-block .c { color: #008800; font-style: italic } /* Comment */
.code-block .err { color: #a61717; background-color: #e3d2d2 } /* Error */
.code-block .k { color: #000080; font-weight: bold } /* Keyword */
.code-block .ch { color: #008800; font-style: italic } /* Comment.Hashbang */
.code-block .cm { color: #008800; font-style: italic } /* Comment.Multiline */
.code-block .cp { color: #008080 } /* Comment.Preproc */
.code-block .cpf { color: #008800; font-style: italic } /* Comment.PreprocFile */
.code-block .c1 { color: #008800; font-style: italic } /* Comment.Single */
.code-block .cs { color: #008800; font-weight: bold } /* Comment.Special */
.code-block .gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
.code-block .ge { font-style: italic } /* Generic.Emph */
.code-block .gr { color: #aa0000 } /* Generic.Error */
.code-block .gh { color: #999999 } /* Generic.Heading */
.code-block .gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
.code-block .go { color: #888888 } /* Generic.Output */
.code-block .gp { color: #555555 } /* Generic.Prompt */
.code-block .gs { font-weight: bold } /* Generic.Strong */
.code-block .gu { color: #aaaaaa } /* Generic.Subheading */
.code-block .gt { color: #aa0000 } /* Generic.Traceback */
.code-block .kc { color: #000080; font-weight: bold } /* Keyword.Constant */
.code-block .kd { color: #000080; font-weight: bold } /* Keyword.Declaration */
.code-block .kn { color: #000080; font-weight: bold } /* Keyword.Namespace */
.code-block .kp { color: #000080; font-weight: bold } /* Keyword.Pseudo */
.code-block .kr { color: #000080; font-weight: bold } /* Keyword.Reserved */
.code-block .kt { color: #000080; font-weight: bold } /* Keyword.Type */
.code-block .m { color: #0000FF } /* Literal.Number */
.code-block .s { color: #0000FF } /* Literal.String */
.code-block .na { color: #FF0000 } /* Name.Attribute */
.code-block .nt { color: #000080; font-weight: bold } /* Name.Tag */
.code-block .ow { font-weight: bold } /* Operator.Word */
.code-block .w { color: #bbbbbb } /* Text.Whitespace */
.code-block .mb { color: #0000FF } /* Literal.Number.Bin */
.code-block .mf { color: #0000FF } /* Literal.Number.Float */
.code-block .mh { color: #0000FF } /* Literal.Number.Hex */
.code-block .mi { color: #0000FF } /* Literal.Number.Integer */
.code-block .mo { color: #0000FF } /* Literal.Number.Oct */
.code-block .sa { color: #0000FF } /* Literal.String.Affix */
.code-block .sb { color: #0000FF } /* Literal.String.Backtick */
.code-block .sc { color: #800080 } /* Literal.String.Char */
.code-block .dl { color: #0000FF } /* Literal.String.Delimiter */
.code-block .sd { color: #0000FF } /* Literal.String.Doc */
.code-block .s2 { color: #0000FF } /* Literal.String.Double */
.code-block .se { color: #0000FF } /* Literal.String.Escape */
.code-block .sh { color: #0000FF } /* Literal.String.Heredoc */
.code-block .si { color: #0000FF } /* Literal.String.Interpol */
.code-block .sx { color: #0000FF } /* Literal.String.Other */
.code-block .sr { color: #0000FF } /* Literal.String.Regex */
.code-block .s1 { color: #0000FF } /* Literal.String.Single */
.code-block .ss { color: #0000FF } /* Literal.String.Symbol */
.code-block .il { color: #0000FF } /* Literal.Number.Integer.Long */