.code-block .hll { background-color: #ffffcc }
.code-block  { background: #f8f8f8; }
.code-block .c { color: #008800; font-style: italic } /* Comment */
.code-block .err { border: 1px solid #FF0000 } /* Error */
.code-block .k { color: #AA22FF; font-weight: bold } /* Keyword */
.code-block .o { color: #666666 } /* Operator */
.code-block .ch { color: #008800; font-style: italic } /* Comment.Hashbang */
.code-block .cm { color: #008800; font-style: italic } /* Comment.Multiline */
.code-block .cp { color: #008800 } /* Comment.Preproc */
.code-block .cpf { color: #008800; font-style: italic } /* Comment.PreprocFile */
.code-block .c1 { color: #008800; font-style: italic } /* Comment.Single */
.code-block .cs { color: #008800; font-weight: bold } /* Comment.Special */
.code-block .gd { color: #A00000 } /* Generic.Deleted */
.code-block .ge { font-style: italic } /* Generic.Emph */
.code-block .gr { color: #FF0000 } /* Generic.Error */
.code-block .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.code-block .gi { color: #00A000 } /* Generic.Inserted */
.code-block .go { color: #888888 } /* Generic.Output */
.code-block .gp { color: #000080; font-weight: bold } /* Generic.Prompt */
.code-block .gs { font-weight: bold } /* Generic.Strong */
.code-block .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.code-block .gt { color: #0044DD } /* Generic.Traceback */
.code-block .kc { color: #AA22FF; font-weight: bold } /* Keyword.Constant */
.code-block .kd { color: #AA22FF; font-weight: bold } /* Keyword.Declaration */
.code-block .kn { color: #AA22FF; font-weight: bold } /* Keyword.Namespace */
.code-block .kp { color: #AA22FF } /* Keyword.Pseudo */
.code-block .kr { color: #AA22FF; font-weight: bold } /* Keyword.Reserved */
.code-block .kt { color: #00BB00; font-weight: bold } /* Keyword.Type */
.code-block .m { color: #666666 } /* Literal.Number */
.code-block .s { color: #BB4444 } /* Literal.String */
.code-block .na { color: #BB4444 } /* Name.Attribute */
.code-block .nb { color: #AA22FF } /* Name.Builtin */
.code-block .nc { color: #0000FF } /* Name.Class */
.code-block .no { color: #880000 } /* Name.Constant */
.code-block .nd { color: #AA22FF } /* Name.Decorator */
.code-block .ni { color: #999999; font-weight: bold } /* Name.Entity */
.code-block .ne { color: #D2413A; font-weight: bold } /* Name.Exception */
.code-block .nf { color: #00A000 } /* Name.Function */
.code-block .nl { color: #A0A000 } /* Name.Label */
.code-block .nn { color: #0000FF; font-weight: bold } /* Name.Namespace */
.code-block .nt { color: #008000; font-weight: bold } /* Name.Tag */
.code-block .nv { color: #B8860B } /* Name.Variable */
.code-block .ow { color: #AA22FF; font-weight: bold } /* Operator.Word */
.code-block .w { color: #bbbbbb } /* Text.Whitespace */
.code-block .mb { color: #666666 } /* Literal.Number.Bin */
.code-block .mf { color: #666666 } /* Literal.Number.Float */
.code-block .mh { color: #666666 } /* Literal.Number.Hex */
.code-block .mi { color: #666666 } /* Literal.Number.Integer */
.code-block .mo { color: #666666 } /* Literal.Number.Oct */
.code-block .sa { color: #BB4444 } /* Literal.String.Affix */
.code-block .sb { color: #BB4444 } /* Literal.String.Backtick */
.code-block .sc { color: #BB4444 } /* Literal.String.Char */
.code-block .dl { color: #BB4444 } /* Literal.String.Delimiter */
.code-block .sd { color: #BB4444; font-style: italic } /* Literal.String.Doc */
.code-block .s2 { color: #BB4444 } /* Literal.String.Double */
.code-block .se { color: #BB6622; font-weight: bold } /* Literal.String.Escape */
.code-block .sh { color: #BB4444 } /* Literal.String.Heredoc */
.code-block .si { color: #BB6688; font-weight: bold } /* Literal.String.Interpol */
.code-block .sx { color: #008000 } /* Literal.String.Other */
.code-block .sr { color: #BB6688 } /* Literal.String.Regex */
.code-block .s1 { color: #BB4444 } /* Literal.String.Single */
.code-block .ss { color: #B8860B } /* Literal.String.Symbol */
.code-block .bp { color: #AA22FF } /* Name.Builtin.Pseudo */
.code-block .fm { color: #00A000 } /* Name.Function.Magic */
.code-block .vc { color: #B8860B } /* Name.Variable.Class */
.code-block .vg { color: #B8860B } /* Name.Variable.Global */
.code-block .vi { color: #B8860B } /* Name.Variable.Instance */
.code-block .vm { color: #B8860B } /* Name.Variable.Magic */
.code-block .il { color: #666666 } /* Literal.Number.Integer.Long */