.code-block .hll { background-color: #ffffcc }
.code-block  { background: #ffffff; }
.code-block .c { color: #FF0000; font-style: italic } /* Comment */
.code-block .k { color: #0000FF } /* Keyword */
.code-block .ch { color: #FF0000; font-style: italic } /* Comment.Hashbang */
.code-block .cm { color: #FF0000; font-style: italic } /* Comment.Multiline */
.code-block .cp { color: #FF0000; font-style: italic } /* Comment.Preproc */
.code-block .cpf { color: #FF0000; font-style: italic } /* Comment.PreprocFile */
.code-block .c1 { color: #FF0000; font-style: italic } /* Comment.Single */
.code-block .cs { color: #FF0000; font-style: italic } /* Comment.Special */
.code-block .kc { color: #0000FF } /* Keyword.Constant */
.code-block .kd { color: #0000FF } /* Keyword.Declaration */
.code-block .kn { color: #0000FF } /* Keyword.Namespace */
.code-block .kp { color: #0000FF } /* Keyword.Pseudo */
.code-block .kr { color: #0000FF } /* Keyword.Reserved */
.code-block .kt { color: #0000FF } /* Keyword.Type */
.code-block .s { color: #009C00 } /* Literal.String */
.code-block .nc { color: #007575 } /* Name.Class */
.code-block .nd { color: #CC00A3 } /* Name.Decorator */
.code-block .nf { color: #C34E00 } /* Name.Function */
.code-block .sa { color: #009C00 } /* Literal.String.Affix */
.code-block .sb { color: #009C00 } /* Literal.String.Backtick */
.code-block .sc { color: #009C00 } /* Literal.String.Char */
.code-block .dl { color: #009C00 } /* Literal.String.Delimiter */
.code-block .sd { color: #009C00 } /* Literal.String.Doc */
.code-block .s2 { color: #009C00 } /* Literal.String.Double */
.code-block .se { color: #009C00 } /* Literal.String.Escape */
.code-block .sh { color: #009C00 } /* Literal.String.Heredoc */
.code-block .si { color: #009C00 } /* Literal.String.Interpol */
.code-block .sx { color: #009C00 } /* Literal.String.Other */
.code-block .sr { color: #009C00 } /* Literal.String.Regex */
.code-block .s1 { color: #009C00 } /* Literal.String.Single */
.code-block .ss { color: #009C00 } /* Literal.String.Symbol */
.code-block .fm { color: #C34E00 } /* Name.Function.Magic */