.code-block .hll { background-color: #404040 }
.code-block  { background: #202020; color: #d0d0d0 }
.code-block .c { color: #999999; font-style: italic } /* Comment */
.code-block .err { color: #a61717; background-color: #e3d2d2 } /* Error */
.code-block .esc { color: #d0d0d0 } /* Escape */
.code-block .g { color: #d0d0d0 } /* Generic */
.code-block .k { color: #6ab825; font-weight: bold } /* Keyword */
.code-block .l { color: #d0d0d0 } /* Literal */
.code-block .n { color: #d0d0d0 } /* Name */
.code-block .o { color: #d0d0d0 } /* Operator */
.code-block .x { color: #d0d0d0 } /* Other */
.code-block .p { color: #d0d0d0 } /* Punctuation */
.code-block .ch { color: #999999; font-style: italic } /* Comment.Hashbang */
.code-block .cm { color: #999999; font-style: italic } /* Comment.Multiline */
.code-block .cp { color: #cd2828; font-weight: bold } /* Comment.Preproc */
.code-block .cpf { color: #999999; font-style: italic } /* Comment.PreprocFile */
.code-block .c1 { color: #999999; font-style: italic } /* Comment.Single */
.code-block .cs { color: #e50808; font-weight: bold; background-color: #520000 } /* Comment.Special */
.code-block .gd { color: #d22323 } /* Generic.Deleted */
.code-block .ge { color: #d0d0d0; font-style: italic } /* Generic.Emph */
.code-block .gr { color: #d22323 } /* Generic.Error */
.code-block .gh { color: #ffffff; font-weight: bold } /* Generic.Heading */
.code-block .gi { color: #589819 } /* Generic.Inserted */
.code-block .go { color: #cccccc } /* Generic.Output */
.code-block .gp { color: #aaaaaa } /* Generic.Prompt */
.code-block .gs { color: #d0d0d0; font-weight: bold } /* Generic.Strong */
.code-block .gu { color: #ffffff; text-decoration: underline } /* Generic.Subheading */
.code-block .gt { color: #d22323 } /* Generic.Traceback */
.code-block .kc { color: #6ab825; font-weight: bold } /* Keyword.Constant */
.code-block .kd { color: #6ab825; font-weight: bold } /* Keyword.Declaration */
.code-block .kn { color: #6ab825; font-weight: bold } /* Keyword.Namespace */
.code-block .kp { color: #6ab825 } /* Keyword.Pseudo */
.code-block .kr { color: #6ab825; font-weight: bold } /* Keyword.Reserved */
.code-block .kt { color: #6ab825; font-weight: bold } /* Keyword.Type */
.code-block .ld { color: #d0d0d0 } /* Literal.Date */
.code-block .m { color: #3677a9 } /* Literal.Number */
.code-block .s { color: #ed9d13 } /* Literal.String */
.code-block .na { color: #bbbbbb } /* Name.Attribute */
.code-block .nb { color: #24909d } /* Name.Builtin */
.code-block .nc { color: #447fcf; text-decoration: underline } /* Name.Class */
.code-block .no { color: #40ffff } /* Name.Constant */
.code-block .nd { color: #ffa500 } /* Name.Decorator */
.code-block .ni { color: #d0d0d0 } /* Name.Entity */
.code-block .ne { color: #bbbbbb } /* Name.Exception */
.code-block .nf { color: #447fcf } /* Name.Function */
.code-block .nl { color: #d0d0d0 } /* Name.Label */
.code-block .nn { color: #447fcf; text-decoration: underline } /* Name.Namespace */
.code-block .nx { color: #d0d0d0 } /* Name.Other */
.code-block .py { color: #d0d0d0 } /* Name.Property */
.code-block .nt { color: #6ab825; font-weight: bold } /* Name.Tag */
.code-block .nv { color: #40ffff } /* Name.Variable */
.code-block .ow { color: #6ab825; font-weight: bold } /* Operator.Word */
.code-block .w { color: #666666 } /* Text.Whitespace */
.code-block .mb { color: #3677a9 } /* Literal.Number.Bin */
.code-block .mf { color: #3677a9 } /* Literal.Number.Float */
.code-block .mh { color: #3677a9 } /* Literal.Number.Hex */
.code-block .mi { color: #3677a9 } /* Literal.Number.Integer */
.code-block .mo { color: #3677a9 } /* Literal.Number.Oct */
.code-block .sa { color: #ed9d13 } /* Literal.String.Affix */
.code-block .sb { color: #ed9d13 } /* Literal.String.Backtick */
.code-block .sc { color: #ed9d13 } /* Literal.String.Char */
.code-block .dl { color: #ed9d13 } /* Literal.String.Delimiter */
.code-block .sd { color: #ed9d13 } /* Literal.String.Doc */
.code-block .s2 { color: #ed9d13 } /* Literal.String.Double */
.code-block .se { color: #ed9d13 } /* Literal.String.Escape */
.code-block .sh { color: #ed9d13 } /* Literal.String.Heredoc */
.code-block .si { color: #ed9d13 } /* Literal.String.Interpol */
.code-block .sx { color: #ffa500 } /* Literal.String.Other */
.code-block .sr { color: #ed9d13 } /* Literal.String.Regex */
.code-block .s1 { color: #ed9d13 } /* Literal.String.Single */
.code-block .ss { color: #ed9d13 } /* Literal.String.Symbol */
.code-block .bp { color: #24909d } /* Name.Builtin.Pseudo */
.code-block .fm { color: #447fcf } /* Name.Function.Magic */
.code-block .vc { color: #40ffff } /* Name.Variable.Class */
.code-block .vg { color: #40ffff } /* Name.Variable.Global */
.code-block .vi { color: #40ffff } /* Name.Variable.Instance */
.code-block .vm { color: #40ffff } /* Name.Variable.Magic */
.code-block .il { color: #3677a9 } /* Literal.Number.Integer.Long */