.code-block .hll { background-color: #49483e }
.code-block  { background: #232629; color: #cccccc }
.code-block .c { color: #777777; font-style: italic } /* Comment */
.code-block .err { color: #a61717; background-color: #e3d2d2 } /* Error */
.code-block .k { color: #7686bb; font-weight: bold } /* Keyword */
.code-block .ch { color: #777777; font-style: italic } /* Comment.Hashbang */
.code-block .cm { color: #777777; font-style: italic } /* Comment.Multiline */
.code-block .cp { color: #777777; font-style: italic } /* Comment.Preproc */
.code-block .cpf { color: #777777; font-style: italic } /* Comment.PreprocFile */
.code-block .c1 { color: #777777; font-style: italic } /* Comment.Single */
.code-block .cs { color: #777777; font-style: italic } /* Comment.Special */
.code-block .gp { color: #ffffff } /* Generic.Prompt */
.code-block .kc { color: #7686bb; font-weight: bold } /* Keyword.Constant */
.code-block .kd { color: #7686bb; font-weight: bold } /* Keyword.Declaration */
.code-block .kn { color: #7686bb; font-weight: bold } /* Keyword.Namespace */
.code-block .kp { color: #7686bb; font-weight: bold } /* Keyword.Pseudo */
.code-block .kr { color: #7686bb; font-weight: bold } /* Keyword.Reserved */
.code-block .kt { color: #7686bb; font-weight: bold } /* Keyword.Type */
.code-block .m { color: #4FB8CC } /* Literal.Number */
.code-block .s { color: #51cc99 } /* Literal.String */
.code-block .nf { color: #6a6aff } /* Name.Function */
.code-block .nx { color: #e2828e } /* Name.Other */
.code-block .nv { color: #7AB4DB; font-weight: bold } /* Name.Variable */
.code-block .w { color: #bbbbbb } /* Text.Whitespace */
.code-block .mb { color: #4FB8CC } /* Literal.Number.Bin */
.code-block .mf { color: #4FB8CC } /* Literal.Number.Float */
.code-block .mh { color: #4FB8CC } /* Literal.Number.Hex */
.code-block .mi { color: #4FB8CC } /* Literal.Number.Integer */
.code-block .mo { color: #4FB8CC } /* Literal.Number.Oct */
.code-block .sa { color: #51cc99 } /* Literal.String.Affix */
.code-block .sb { color: #51cc99 } /* Literal.String.Backtick */
.code-block .sc { color: #51cc99 } /* Literal.String.Char */
.code-block .dl { color: #51cc99 } /* Literal.String.Delimiter */
.code-block .sd { color: #51cc99 } /* Literal.String.Doc */
.code-block .s2 { color: #51cc99 } /* Literal.String.Double */
.code-block .se { color: #51cc99 } /* Literal.String.Escape */
.code-block .sh { color: #51cc99 } /* Literal.String.Heredoc */
.code-block .si { color: #51cc99 } /* Literal.String.Interpol */
.code-block .sx { color: #51cc99 } /* Literal.String.Other */
.code-block .sr { color: #51cc99 } /* Literal.String.Regex */
.code-block .s1 { color: #51cc99 } /* Literal.String.Single */
.code-block .ss { color: #51cc99 } /* Literal.String.Symbol */
.code-block .fm { color: #6a6aff } /* Name.Function.Magic */
.code-block .vc { color: #7AB4DB; font-weight: bold } /* Name.Variable.Class */
.code-block .vg { color: #BE646C; font-weight: bold } /* Name.Variable.Global */
.code-block .vi { color: #7AB4DB; font-weight: bold } /* Name.Variable.Instance */
.code-block .vm { color: #7AB4DB; font-weight: bold } /* Name.Variable.Magic */
.code-block .il { color: #4FB8CC } /* Literal.Number.Integer.Long */