.code-block .hll { background-color: #222222 }
.code-block pre { color: #3333CC; } 
.code-block  { background: #000000; }
.code-block .c { color: #999988; font-style: italic } /* Comment */
.code-block .err { color: #a61717; background-color: #e3d2d2 } /* Error */
.code-block .k { font-weight: bold } /* Keyword */
.code-block .o { font-weight: bold } /* Operator */
.code-block .ch { color: #999988; font-style: italic } /* Comment.Hashbang */
.code-block .cm { color: #999988; font-style: italic } /* Comment.Multiline */
.code-block .cp { color: #AAAAAA; font-weight: bold } /* Comment.Preproc */
.code-block .cpf { color: #999988; font-style: italic } /* Comment.PreprocFile */
.code-block .c1 { color: #9999FF; font-style: italic } /* Comment.Single */
.code-block .cs { color: #AAAAAA; font-weight: bold; font-style: italic } /* Comment.Special */
.code-block .gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
.code-block .ge { font-style: italic } /* Generic.Emph */
.code-block .gr { color: #aa0000 } /* Generic.Error */
.code-block .gh { color: #AAAAAA } /* Generic.Heading */
.code-block .gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
.code-block .go { color: #888888 } /* Generic.Output */
.code-block .gp { color: #555555 } /* Generic.Prompt */
.code-block .gs { font-weight: bold } /* Generic.Strong */
.code-block .gu { color: #aaaaaa } /* Generic.Subheading */
.code-block .gt { color: #aa0000 } /* Generic.Traceback */
.code-block .kc { font-weight: bold; color: #BF2347; } /* Keyword.Constant */
.code-block .kd { font-weight: bold } /* Keyword.Declaration */
.code-block .kn { font-weight: bold } /* Keyword.Namespace */
.code-block .kp { font-weight: bold } /* Keyword.Pseudo */
.code-block .kr { font-weight: bold } /* Keyword.Reserved */
.code-block .kt { color: #445588; font-weight: bold } /* Keyword.Type */
.code-block .m { color: #009999 } /* Literal.Number */
.code-block .s { color: #FF66DD } /* Literal.String */
.code-block .n { color: #FF3737; }
.code-block .na { color: #008080 } /* Name.Attribute */
.code-block .nb { color: #AAAAAA } /* Name.Builtin */
.code-block .nc { color: #445588; font-weight: bold } /* Name.Class */
.code-block .no { color: #008080 } /* Name.Constant */
.code-block .ni { color: #800080 } /* Name.Entity */
.code-block .ne { color: #990000; font-weight: bold } /* Name.Exception */
.code-block .nf { color: #FF0000; font-weight: bold } /* Name.Function */
.code-block .nn { color: #AAAAAA } /* Name.Namespace */
.code-block .nt { color: #000080 } /* Name.Tag */
.code-block .nv { color: #FF2020 } /* Name.Variable */
.code-block .ow { font-weight: bold } /* Operator.Word */
.code-block .w { color: #bbbbbb } /* Text.Whitespace */
.code-block .mb { color: #009999 } /* Literal.Number.Bin */
.code-block .mf { color: #009999 } /* Literal.Number.Float */
.code-block .mh { color: #009999 } /* Literal.Number.Hex */
.code-block .mi { color: #00AADD } /* Literal.Number.Integer */
.code-block .mo { color: #00AADD } /* Literal.Number.Oct */
.code-block .sa { color: #FF66DD } /* Literal.String.Affix */
.code-block .sb { color: #FF66DD } /* Literal.String.Backtick */
.code-block .sc { color: #FF66DD } /* Literal.String.Char */
.code-block .dl { color: #FF66DD } /* Literal.String.Delimiter */
.code-block .sd { color: #FF66DD } /* Literal.String.Doc */
.code-block .s2 { color: #FF66DD } /* Literal.String.Double */
.code-block .se { color: #FFAAFF } /* Literal.String.Escape */
.code-block .sh { color: #FF66DD } /* Literal.String.Heredoc */
.code-block .si { color: #FF66DD } /* Literal.String.Interpol */
.code-block .sx { color: #FF66DD } /* Literal.String.Other */
.code-block .sr { color: #808000 } /* Literal.String.Regex */
.code-block .s1 { color: #FF66DD } /* Literal.String.Single */
.code-block .ss { color: #FF66DD } /* Literal.String.Symbol */
.code-block .bp { color: #00AADD } /* Name.Builtin.Pseudo */
.code-block .fm { color: #990000; font-weight: bold } /* Name.Function.Magic */
.code-block .vc { color: #008080 } /* Name.Variable.Class */
.code-block .vg { color: #008080 } /* Name.Variable.Global */
.code-block .vi { color: #008080 } /* Name.Variable.Instance */
.code-block .vm { color: #008080 } /* Name.Variable.Magic */
.code-block .il { color: #009999 } /* Literal.Number.Integer.Long */
